:root {
	--grey1-color: #6C757D;
	--grey6-color: #DAE0E5;
}

.btn-grey {
	background-color: #DAE0E5;
	border-color: #DAE0E5;
}

.btn-grey:hover {
	background-color: #C8D0D8;
	border-color: #C8D0D8;
}

.btn-marron {
	background-color: #795050;
	border-color: #795050;
	color: white;
}

.btn-marron:hover {
	background-color: #7e4747;
	border-color: #795050;
	color: white;
}

.btn-danger {
	background-color: #ba2c2c;
	border-color: #ba2c2c;
	color: white;
}

.btn-blue {
	background-color: #A2BFFE;
	border-color: #A2BFFE;
	color: white;
}

.btn-blue:hover {
	background-color: #A2BFFE;
	border-color: #A2BFFE;
	color: white;
}

#btn-commentaire {
	background: transparent;
	border: none;
	display: flex;
	align-items: center;
	border-radius: 5px;
	height: 30px;

}

#btn-commentaire:hover {
	background: #C8D0D8;
}

.shape__list {
	display: flex;
	gap: 0.25rem;
}

.shape {
	width: 1rem;
	height: 1rem;
	background-color: var(--grey6-color);
	border-radius: 0.20rem;
}

.shape__active {
	background-color: black;
}

.calendar__date__range {
	display: flex;
	gap: 1rem;
}

.calendar__date__range>.title {
	display: flex;
	flex-direction: column;
	text-align: center;
	gap: -0.2rem;
}

.calendar__date__range .year {
	font-size: 0.85rem;
	color: var(--grey1-color);
	font-weight: 200;
}

.calendar__date__range .range {
	font-size: 0.93rem;
	font-weight: 400;
}

.calendar__date__range>svg {
	width: 1rem;
	color: var(--grey1-color);
}

.calendar {
	display: flex;
	gap: 5rem;
}

.calendar_item_title {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.5rem;
}

.calendar_item_title>.title {
	text-align: center;
	font-size: 0.85rem;
	font-weight: 500;
}

.calendar_item_title>.line,
.line {
	height: 3px;
	width: 48px;
	background-color: var(--grey1-color);
	border-radius: 3px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0.5rem;
}

.commentaire {
	color: #6C757D;
}

.tag {
	background-color: var(--grey6-color);
	color: black;
	padding: 0.25rem 0.75rem;
	border-radius: 0.35rem;
	font-size: 0.75rem;
	width: fit-content;
}

.priority_shape {
	background-color: black;
	height: 1.5rem;
	aspect-ratio: 1.5;
	flex: 1;
}

.form-check-label {
	cursor: pointer;
}

.border-text-warning {
	border: 1px solid #FFC107;
}

.border-text-dark {
	border: 1px solid #343A40;
}

.border-text-success {
	border: 1px solid #28A745;
}

.border-text-danger {
	border: 1px solid #DC3545;
}

.border-text-primary {
	border: 1px solid #007BFF;
}

.col-12,
.col {
	min-width: 275px;
}

.icon {
	width: 1rem;
	stroke: #0D6EFD;
}

/** Pagination **/

.pagination {
	display: flex;
	list-style: none;
	padding: 0;
	margin: 1rem 0;
	justify-content: center;
	font-family: Arial, sans-serif;
	font-size: 1rem;
	color: #6c757d;
}

.page-item {
	margin: 0 0.5rem;
}

.page-link {
	text-decoration: none;
	color: inherit;
	padding: 0;
	cursor: pointer;
	transition: color 0.2s ease;
	background-color: transparent;
	border: none;
}

.page-link:hover {
	color: #000;
}

.page-item.active .page-link {
	font-weight: bold;
	color: #000;
	cursor: default;
}

.page-item.disabled .page-link {
	color: #d6d6d6;
	pointer-events: none;
	cursor: not-allowed;
}

.blue {
	color: 0D6EFD;
}

.page-item.page-active {
	text-decoration-line: underline !important;
	text-decoration: solid;
	text-decoration-color: #505050;
}

.titleProfil {
	font-family: 'Caveat Brush', cursive;
	font-size: 2.5rem;
	font-weight: 600;
	letter-spacing: 1px;
}

.profil {
	width: 550px;
	background-color: #f8f9fa;
}

.nav-tabs .nav-link.active {
	color: #007bff;
}

.nav-tabs .nav-link {
	color: #000;
}