.tab-link {
	color:black;
	text-decoration: underline ;
	text-underline-offset: 6px;
	text-decoration-color: black;
	text-decoration-thickness: 3px ;
	font-weight: bold;
}

.active-tab {
	text-decoration: underline;
	text-underline-offset: 6px;
	text-decoration-color: #0D6EFD;
	text-decoration-thickness: 3px ;
	font-weight: bold;
}

.filter, .export{
	text-decoration: unset;
	color: #6C757D;
}

.export {
	margin-left: 1rem;
}

.indicator {
	width: 10px;
	height: 10px;
	margin-right: 5px;
	border-radius: 2px;
}

.indicator.black {
	background-color: black;
}

.indicator.gray {
	background-color: gray;
}

.indicator-circle {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: black;
	margin-left: 0.8rem;
}

.card-text {
	font-size: 0.85rem;
	height: 1rem;
}

.card {
	width: 250px;
}

/** filter **/

.checked {
	color: #71903A
}

.container {
	display: flex;
	gap: 5px;
}

.square {
	width: 12px;
	height: 12px;
	background-color: black;
	border-radius: 2px;
}